<%= render :partial => "search" %>
<%= render :partial => "prices" %>

<ul>
	<% @list.products.each do |product| %>
		<li><%= product.name %></li>
		<ul>
			<% product.offers.each do |offer| %>
				<li><%= offer.supplier.name %>, <%= offer.price %></li>
			<% end %>			
		</ul>
	<% end %>
</ul>


<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
